@import "../variables";

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Lora;
  font-weight: 400;
  src: url("/fonts/Lora/static/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Lora;
  font-weight: 700;
  src: url("/fonts/Lora/static/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Lora;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Lora/static/Lora-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Lora;
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Lora/static/Lora-BoldItalic.ttf") format("truetype");
}

html {
  background: $background;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.58;
  overflow-y: scroll;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media screen and (min-width: $br-phone) {
  html {
    font-size: calc(16px + 4 * ((100vw - 500px) / 500));
  }
}

@media screen and (min-width: $br-tablet) {
  html {
    font-size: 20px;
  }
}

body {
  color: $color;
  font-family: Lora, serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a,
.link {
  background-color: transparent;
  color: $color;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  text-decoration-skip: objects;
  transition: opacity $transition-duration ease-out;

  &:active,
  &:focus,
  &:hover {
    opacity: 0.8;
    outline-width: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted hsl(0deg 0% 0% / 50%);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  color: inherit;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-rendering: optimizelegibility;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

hr {
  background: hsl(0deg 0% 0% / 20%);
  border: none;
  box-sizing: content-box;
  height: 1px;
  margin-bottom: calc(1em - 1px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: visible;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0.35em 0.625em 0.75em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  appearance: none;
}

::input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

* {
  box-sizing: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

h2 {
  color: inherit;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6267em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizelegibility;
}

h3 {
  color: inherit;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.3832em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizelegibility;
}

h4 {
  color: inherit;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizelegibility;
}

h5 {
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.58;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizelegibility;
}

h6 {
  color: inherit;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.58;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizelegibility;
}

hgroup {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ul {
  list-style-image: none;
  list-style-position: outside;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ol {
  list-style-image: none;
  list-style-position: outside;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

dl {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

dd {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

p {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

pre {
  background: hsl(0deg 0% 0% / 4%);
  border-radius: 3px;
  font-size: 0.85em;
  line-height: 1.42;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: auto;
  padding: 1em;
  word-wrap: normal;
}

table {
  border-collapse: collapse;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 100%;
}

blockquote {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

form {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

noscript {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

iframe {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

address {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1em / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-bottom: calc(1em / 2);
  margin-left: 1em;
  margin-top: calc(1em / 2);
}

li > ul {
  margin-bottom: calc(1em / 2);
  margin-left: 1em;
  margin-top: calc(1em / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1em / 2);
}

code {
  font-size: 0.85em;
  line-height: 1em;
}

kbd {
  font-size: 0.85em;
  line-height: 1em;
}

samp {
  font-size: 0.85em;
  line-height: 1em;
}

abbr {
  border-bottom: 1px dotted hsl(0deg 0% 0% / 50%);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsl(0deg 0% 0% / 50%);
  cursor: help;
}

thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid hsl(0deg 0% 0% / 12%);
  font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  padding-bottom: calc(0.725em - 1px);
  padding-left: 0.9667em;
  padding-right: 0.9667em;
  padding-top: 0.725em;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsl(0deg 0% 0% / 4%);
  border-radius: 3px;
  font-family:
    SFMono-Regular,
    Consolas,
    "Roboto Mono",
    "Droid Sans Mono",
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
  padding: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code::before,
code::after,
tt::before,
tt::after {
  content: " ";
  letter-spacing: -0.2em;
}

pre code::before,
pre code::after,
pre tt::before,
pre tt::after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
