@import "../mixins";
@import "../variables";

.AnalyticsConsent {
  @include link;
  @include sans-serif;
  @include theme($background, $color);

  bottom: 0;
  left: 0;
  position: fixed;
  transform: translateY(100%);
  transition: visibility 0s, transform $transition-duration ease-out;
  width: 100%;
  z-index: $z-notification;

  &.active {
    transform: none;
    visibility: visible;
  }

  &__action {
    display: block;
    margin-top: $gap;

    @media screen and (min-width: $br-phone) {
      display: inline-block;
      float: right;
      margin: 0;
    }

    span {
      margin-right: $gap;
    }
  }
}
