@import '../mixins.scss';

$show-duration: 0.5s;
$show-offset: 1em;

.Body {
  @include grid;

  &__component {
    opacity: 0;
    position: relative;
    top: $show-offset;
    transition: opacity $show-duration ease-out, top $show-duration ease-out;

    &.show {
      opacity: 1;
      top: 0;
    }

    &.position {
      &--left {
        @include position-left;
      }

      &--semi_left {
        @include position-semileft;
      }

      &--semi_right {
        @include position-semiright;
      }

      &--right {
        @include position-right;
      }
    }

    &.len {
      &--1 {
        @include len-1;
      }

      &--2 {
        @include len-2;
      }

      &--3 {
        @include len-3;
      }

      &--4 {
        @include len-4;
      }
    }
  }
}
