@import '../mixins.scss';
@import '../variables.scss';

.Footer {
  @include grid;
  @include theme($background, $color);

  display: grid;
  grid-gap: $gap;
  grid-template-areas: "address" "contact" "copyright";
  padding: 3em $spacing;

  @media screen and (min-width: $br-phone) {
    grid-template-areas: "address contact" "copyright .";
  }

  @media screen and (min-width: $br-tablet) {
    grid-template-areas: "copyright . address contact";
  }

  &__copyright {
    align-self: end;
    color: rgba($background, 0.25);
    grid-area: copyright;
  }

  &__address {
    grid-area: address;
  }

  &__contact {
    grid-area: contact;
    margin-bottom: 3em;
  }
}
