@import "../mixins.scss";
@import '../variables.scss';

$breakpoint: $br-tablet;

.Header {
  @include padding;

  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: $z-overlay;

  @media screen and (min-width: $breakpoint) {
    align-items: initial;
  }

  &__backdrop {
    backdrop-filter: none;
    background: transparent;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: all $transition-duration ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: $z-overlay;
  }

  &__logo {
    position: relative;
    z-index: $z-overlay;

    .Logo {
      height: 1.5em;
    }
  }

  &__menu {
    @include sans-serif;

    position: relative;
    z-index: $z-overlay;

    &__toggle {
      .Arrow {
        height: 2em;
        stroke-width: 1.5;
        transform: none;
        transition: transform $transition-duration ease-in-out;
        width: 2em;

        @media screen and (min-width: $breakpoint) {
          height: 1em;
          stroke-width: 2;
          width: 1em;
        }
      }
    }

    &__wrapper {
      font-size: 1.5em;
      line-height: 2.5;
      opacity: 0;
      padding-top: 2em;
      position: absolute;
      right: 0;
      text-align: right;
      transition: visibility 0s, opacity $transition-duration ease-out;
      visibility: hidden;

      @media screen and (min-width: $breakpoint) {
        font-size: 1em;
        line-height: 2;
        padding: 0;
      }

      &__expanded {
        opacity: 0;
        transition: visibility 0s, opacity $transition-duration ease-out;
        visibility: hidden;
      }
    }
  }

  &.expanded {
    .Header__backdrop {
      backdrop-filter: blur(1em);
      background: rgba($background, 0.5);
      visibility: visible;
    }

    .Header__menu__toggle .Arrow {
      transform: rotate(180deg);
    }

    .Header__menu__wrapper {
      opacity: 1;
      visibility: visible;
    }

    .Header__menu__wrapper__expanded {
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: $breakpoint) {
    &.peek {
      .Header__menu__wrapper {
        opacity: 1;

        @media screen and (min-width: $breakpoint) {
          visibility: visible;
        }
      }
    }
  }
}
