@import '../mixins.scss';
@import '../variables.scss';

.ImageComponent {
  @include link;

  line-height: 0;
  text-align: right;

  &__caption {
    color: lighten($color, 20);
    font-size: 0.8em;
    margin-top: -1em;
    padding-top: 0.4em;
    transition: color $transition-duration ease-out;
  }

  a {
    opacity: 1 !important;

    &:active,
    &:focus,
    &:hover {
      .ImageComponent__caption {
        color: lighten($color, 40);
      }
    }
  }
}
