@import '../mixins.scss';
@import '../variables.scss';

.JournalEntryComponent {
  @include padding;

  padding-bottom: 3em;
  padding-top: 7em;

  @media screen and (min-width: $br-tablet) {
    padding-bottom: 6em;
    padding-top: 11em;
  }

  &:not(:first-child) {
    border-top: 0.05em solid $color;
    padding-top: 5em;

    @media screen and (min-width: $br-tablet) {
      padding-top: 7em;
    }
  }

  &__title {
    margin: 0 0 0.1em;
  }

  &__meta {
    margin-bottom: 5em;
    text-align: center;
  }
}
