@import "../mixins.scss";
@import "../variables.scss";

.Menu {
  @include sans-serif;

  line-height: 2;
  margin-top: 1em;
  text-align: right;

  &__backdrop {
    backdrop-filter: none;
    background: transparent;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: all $transition-duration ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: $z-overlay;
  }

  &__wrapper {
    position: relative;
    z-index: $z-overlay;

    &__expanded {
      opacity: 0;
      position: absolute;
      right: 0;
      transition: opacity $transition-duration ease-out;
      z-index: $z-behind;
    }

    &__collapsed {
      opacity: 1;
      position: absolute;
      right: 0;
      z-index: inherit;

      svg {
        height: 1em;
        width: 1em;
      }
    }
  }

  &.expanded {
    .Menu__backdrop {
      backdrop-filter: blur(1em);
      background: rgba($background, 0.5);
      visibility: visible;
    }

    .Menu__wrapper__expanded {
      opacity: 1;
      z-index: inherit;
    }

    .Menu__wrapper__collapsed {
      opacity: 0;
      z-index: $z-behind;
    }
  }
}
