@import '../mixins.scss';
@import '../variables.scss';

.TextComponent {
  @include link;

  column-count: 1;
  column-gap: $gap;

  @media screen and (min-width: $br-phone) {
    font-size: 0.8em;
    margin: 1em 0;
  }

  @media screen and (min-width: $br-tablet) {
    margin: 2em 0;
  }

  @media screen and (min-width: $br-laptop) {
    margin: 3em 0;
  }

  @media screen and (min-width: $br-desktop) {
    column-count: 2;
  }

  &.marginless {
    margin: 0;
  }

  &.large {
    column-count: 1;
    font-size: 1.2em;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
