@import './variables.scss';

@mixin sans-serif {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin theme($color, $background) {
  background: $background;
  color: $color;

  a,
  .link {
    color: $color;
  }
}

@mixin grid {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: 1fr;

  @media screen and (min-width: $br-phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $br-laptop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin position-left {
  grid-column-start: 1;
}

@mixin position-semileft {
  grid-column-start: 1;

  @media screen and (min-width: $br-laptop) {
    grid-column-start: 2;
  }
}

@mixin position-semiright {
  grid-column-start: 1;

  @media screen and (min-width: $br-phone) {
    grid-column-start: 2;
  }

  @media screen and (min-width: $br-laptop) {
    grid-column-start: 3;
  }
}

@mixin position-right {
  grid-column-start: 1;

  @media screen and (min-width: $br-phone) {
    grid-column-start: 2;
  }

  @media screen and (min-width: $br-laptop) {
    grid-column-start: 4;
  }
}

@mixin len-1 {
  grid-column-end: span 1;
}

@mixin len-2 {
  grid-column-end: span 1;

  @media screen and (min-width: $br-phone) {
    grid-column-end: span 2;
    grid-column-start: 1;
  }
}

@mixin len-3 {
  grid-column-end: span 1;

  @media screen and (min-width: $br-phone) {
    grid-column-end: span 2;
    grid-column-start: 1;
  }

  @media screen and (min-width: $br-laptop) {
    grid-column-end: span 3;
  }
}

@mixin len-4 {
  grid-column-end: span 1;

  @media screen and (min-width: $br-phone) {
    grid-column-end: span 2;
    grid-column-start: 1;
  }

  @media screen and (min-width: $br-laptop) {
    grid-column-end: span 4;
  }
}

@mixin padding {
  padding: $gap;
}

@mixin link {
  a,
  .link {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.15em;
  }
}
