@import './variables.scss';

@mixin sans-serif {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin theme($color, $background) {
  background: $background;
  color: $color;

  a {
    color: $color;
  }
}

@mixin grid {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: 1fr;

  @media screen and (min-width: $br-phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $br-tablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin layout-full {
  grid-column: 1 / 2;

  @media screen and (min-width: $br-phone) {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: $br-tablet) {
    grid-column: 1 / 5;
  }
}

@mixin layout-left {
  grid-column: 1 / 2;

  @media screen and (min-width: $br-phone) {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: $br-tablet) {
    grid-column: 1 / 3;
  }
}

@mixin layout-right {
  grid-column: 1 / 2;

  @media screen and (min-width: $br-phone) {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: $br-tablet) {
    grid-column: 3 / 5;
  }
}

@mixin padding {
  padding: $gap;

  @media screen and (min-width: $br-tablet) {
    padding: $spacing;
  }
}

@mixin link {
  a {
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.15em;
  }
}
