/* Colors */
$background: #f1f3f6;
$color: #0d0d0d;
$footer-background: #6b7583;

/* Sizes */
$gap: 1.25em;
$spacing: 2em;

/* Transitions */
$transition-duration: 0.2s;

/* z-index */
$z-behind: -1;
$z-base: 0;
$z-overlay: 1;
$z-loading: 2;
$z-notification: 3;

/* Breakpoints */
$br-phone: 500px;
$br-tablet: 1000px;
$br-laptop: 1500px;
$br-desktop: 2000px;
